// Файл обнуляющих стилей
@import "nullstyle.scss";


@font-face {
	font-family: 'Conv_Bleeding Cowboys';
	src: url('../fonts/Bleeding Cowboys.eot');
	src: local('☺'), url('../fonts/Bleeding Cowboys.woff') format('woff'), url('../fonts/Bleeding Cowboys.ttf') format('truetype'), url('../fonts/Bleeding Cowboys.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Pangram';
    src: url('../fonts/Pangram-ExtraLight.eot');
    src: local('Pangram ExtraLight'), local('Pangram-ExtraLight'),
        url('../fonts/Pangram-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Pangram-ExtraLight.woff2') format('woff2'),
        url('../fonts/Pangram-ExtraLight.woff') format('woff'),
        url('../fonts/Pangram-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Pangram';
    src: url('../fonts/Pangram-Medium.eot');
    src: local('Pangram Medium'), local('Pangram-Medium'),
        url('../fonts/Pangram-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Pangram-Medium.woff2') format('woff2'),
        url('../fonts/Pangram-Medium.woff') format('woff'),
        url('../fonts/Pangram-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Pangram';
    src: url('../fonts/Pangram-Regular.eot');
    src: local('Pangram Regular'), local('Pangram-Regular'),
        url('../fonts/Pangram-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Pangram-Regular.woff2') format('woff2'),
        url('../fonts/Pangram-Regular.woff') format('woff'),
        url('../fonts/Pangram-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pangram';
    src: url('../fonts/Pangram-Light.eot');
    src: local('Pangram Light'), local('Pangram-Light'),
        url('../fonts/Pangram-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Pangram-Light.woff2') format('woff2'),
        url('../fonts/Pangram-Light.woff') format('woff'),
        url('../fonts/Pangram-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Pangram';
    src: url('../fonts/Pangram-Bold.eot');
    src: local('Pangram Bold'), local('Pangram-Bold'),
        url('../fonts/Pangram-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Pangram-Bold.woff2') format('woff2'),
        url('../fonts/Pangram-Bold.woff') format('woff'),
        url('../fonts/Pangram-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Pangram';
    src: url('../fonts/Pangram-Black.eot');
    src: local('Pangram Black'), local('Pangram-Black'),
        url('../fonts/Pangram-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Pangram-Black.woff2') format('woff2'),
        url('../fonts/Pangram-Black.woff') format('woff'),
        url('../fonts/Pangram-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Pangram';
    src: url('../fonts/Pangram-ExtraBold.eot');
    src: local('Pangram ExtraBold'), local('Pangram-ExtraBold'),
        url('../fonts/Pangram-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Pangram-ExtraBold.woff2') format('woff2'),
        url('../fonts/Pangram-ExtraBold.woff') format('woff'),
        url('../fonts/Pangram-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}



/* НАСТАИВАЕМ СТИЛИ */

* {
    box-sizing: border-box;         /* Свойства width и height включают в себя значения полей и границ, но не отступов (margin).*/
    scroll-behavior: smooth;        /* плавная прокрутка */
}

/* Скроллбар */ 
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #000;
}

/* Ползунок у скроллбара */
::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #fff;
}

/* Скрытие placeholder в стадии active */
:focus::-webkit-input-placeholder {
    color: transparent;
}

@mixin transform($wt, $mt, $ot, $tf){
    -webkit-transform: scale($wt);
    -moz-transform: scale($mt);
    -o-transform: scale($ot);
    transform: scale($tf);
}

@mixin transition($wt, $mt, $tt) {
    -webkit-transition: all $wt ease;
    -moz-transition: all $mt ease;
    transition: all $tt ease;
}



body {
    background: rgb(225, 255, 255); /* Old browsers */
    background: -moz-radial-gradient(
        center,
        ellipse cover,
        rgba(225, 255, 255, 1) 0%,
        rgba(225, 255, 255, 1) 0%,
        rgba(225, 255, 255, 1) 0%,
        rgba(253, 255, 255, 1) 0%,
        rgba(199, 198, 255, 1) 100%
    ); /* FF3.6-15 */
    background: -webkit-radial-gradient(
        center,
        ellipse cover,
        rgba(225, 255, 255, 1) 0%,
        rgba(225, 255, 255, 1) 0%,
        rgba(225, 255, 255, 1) 0%,
        rgba(253, 255, 255, 1) 0%,
        rgba(199, 198, 255, 1) 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(
        ellipse at center,
        rgba(225, 255, 255, 1) 0%,
        rgba(225, 255, 255, 1) 0%,
        rgba(225, 255, 255, 1) 0%,
        rgba(253, 255, 255, 1) 0%,
        rgba(199, 198, 255, 1) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1ffff', endColorstr='#c7c6ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    .main-header {
        padding-top: 10px;
        padding-right: 20px;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 999;
        display: inline;
        .wrapper {
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 30px;
        }
        .main-header--layout {
            display: flex;
            align-items: center;
        }
        .main-header--logolink {
            height: 10%;
            width: 10%;
            margin-right: 30px;
            box-shadow: 0 0 10px #ffef61;
            border-radius: 50%;
            transition: 1s;
            &:hover {
                box-shadow: 0 0 50px #ffef61;
                transition: 1s;
            }
        }
        .header-h1 {
            font-family: 'Conv_Bleeding Cowboys';
            display: flex;
            width: 70%;
        }
        .header-h1 h1 {
            -webkit-flex-grow: 3;
            flex-grow: 3;
            line-height: 150%;
            text-align: center;
            margin: 10px;
            font-size: 3vw;
            color: cornflowerblue;
            border-radius: 15px;
            box-shadow: 0 0 10px #000;
            &:hover {
                border-radius: 100%;
                transition: 2s;
            }        
            &:not(:hover) {
                transition: 2s;
            }
        }
        .main-nav {
            font-family: 'Conv_Bleeding Cowboys';
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 2vw;
            .main-nav--link {
                @include transition(0.5s, 0.5s, 0.5s);
                margin-left: 3vw;
                color: rgb(125, 108, 165);
                &:hover {
                    @include transform(1.1, 1.1, 1.1, 1.1);
                    @include transition(0.5s, 0.5s, 0.5s);
                    text-decoration: underline;
                }
            }
        }
    }

    .content {
        font-family: 'Pangram';
        width: 100vw;
        height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
        display: block;
        .screen {
            width: 100vw;
            height: 100vh;
            overflow-x: auto;
            flex-shrink: 0;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            position: relative;
            z-index: 1;
        }
        .screen-home {
            padding: 300px 0px 0px 0px;
            font-size: 4vw;
            color: MediumPurple;
            position: relative;
            .main-home {
                display: inline-block;
                position: absolute;
                left: 30%;
                top: 32.3%;
                margin: 5%;
                .h2-span {
                    color: Red;
                    font-size: 4vw;
                }
            }
            .about-photo {
                max-width: 10%;
                height: auto;
                border-radius: 15%;
                float: right;
                margin: 3% 5% 0px 0px;
            }
        }
        .screen-work {
            padding: 400px 0px 0px 0px;
            .inthis {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                text-align: center;
                height: 500px;
                .dropdown {
                    -webkit-flex-grow: 3;
                    flex-grow: 3;
                    position: relative;
                    padding: 3px 3px 3px 3px;
                    margin: 3px 3px 3px 3px;
                    vertical-align: top;
                    &:hover {
                        .dropdown-content {
                            display: block;
                        }
                        .dropbtn {
                            background-color: #3e8e41;
                        }
                    }   
                    .dropbtn {                        
                        -webkit-flex-grow: 3;
                        flex-grow: 3;
                        background-color: #4caf50;
                        color: white;
                        font-size: 1.2vw;
                        max-width: 250px;
                        min-width: 50px;
                        max-height: 80px;
                        min-height: 5px;
                        width: 80%;
                        height: 10%;
                        border: 5px solid Black;
                        border-radius: 30px 30px 30px 30px;
                        position: relative;                     
                    }  
                    .dropdown-content {
                        display: none;
                        background-color: Ivory;
                        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 20), inset 0px 1px 1px 0px rgba(0, 0, 0, 2);
                        border: 2px solid Black;
                        border-radius: 10px 10px 10px 10px;
                        width: 50%;
                        height: 25%;
                        overflow: auto;
                        margin: auto;
                        position: absolute;
                        top: 10%;
                        left: 25%;
                    }
                    .dropdown-content a {
                        color: black;
                        padding: 10px 0px 10px 0px;
                        display: block;
                        font-size: 1vw;
                        height: 33%;
                        &:hover {
                            background-color: NavajoWhite;
                            border-radius: 10px 10px 10px 10px;
                        }
                    }                                       
                }
                
                
            }
            
        }
        /* Вращающееся облако слов */
        .sptag {
            margin: 7% 0% 0% 20%;
            padding: 0% 0% 0% 0%;
            /*font-family: Arial;*/
            font-family: 'Pangram';
            position: absolute;
            top: 50%;
            left: 50%;
            color: "gray";
            font-weight: bold;
        }
                .main-contact {
                    display: flex;
                    justify-content: flex-end;
                    margin: 300px 70px 0px 00px;
                    .get-in-touch {
                        display: block;
                        align-content: center;
                        width: 25%;
                        .get-in-touch-h2 {                                                    
                            font-size: 2.5vw;
                            padding: 0 0 3vw 0;
                            color: cornflowerblue;
                            text-decoration: underline;
                            text-decoration-color: rgba(251, 255, 0, 0.822);
                        }
                        .get-in-touch-detail {
                            display: flex;
                            align-items: center;
                            vertical-align: middle;
                            padding: 0 0 2vw 0;
                            .button-get-in-touch-logo-location {
                                background-color: transparent;
                                margin: 0vw 0 0 0vw;
                                width: 7%;
                                @include transition(1s, 1s, 1s);
                                &:hover {
                                    border-radius: 30px 30px 30px 30px;
                                    filter: invert(100%);
                                    background-color: green;
                                    mix-blend-mode: hue;
                                    @include transform(2.1, 2.1, 2.1, 2.1);
                                    @include transition(1s, 1s, 1s);
                                }
                                .get-in-touch-logo-location {
                                    vertical-align: middle;
                                    position: relative;
                                    width: 100%;
                                }
                            }
                            .get-in-touch-location {
                                margin: 0 0 0 1vw;
                                font-size: 1.5vw;
                            }
                            .button-get-in-touch-logo-phone {
                                background-color: transparent;
                                margin: 0vw 0 0 0vw;
                                width: 7%;
                                @include transition(1s, 1s, 1s);
                                position: relative;
                                &:hover {
                                    border-radius: 30px 30px 30px 30px;
                                    filter: invert(100%);
                                    background-color: green;
                                    mix-blend-mode: hue;
                                    @include transform(2.1, 2.1, 2.1, 2.1);
                                    @include transition(1s, 1s, 1s);
                                }
                                .get-in-touch-logo-phone {
                                    vertical-align: middle;
                                    position: relative;
                                    width: 100%;
                                }
                            }
                            .form-popup {
                                display: none;
                                position: fixed;
                                bottom: 0;
                                right: 15px;
                                border: 3px solid #f1f1f1;
                                background: rgba(102, 102, 102, 0.5);
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                top: 0;
                                left: 0;
                                z-index: 99999;
                                .call-back-form {
                                    left: 33%;
                                    top: 30%;
                                    width: 34vw;
                                    height: 17vw;
                                    text-align: center;
                                    border: 5px solid #0000cc;
                                    position: absolute;
                                    top: 32.3%;
                                    left: 32.3%;
                                    border-radius: 1vw;
                                    padding: 2vw;
                                    background-color: white;
                                    .form-popup_line1 {
                                        display: flex;
                                        justify-content: space-between;
                                        margin: 0 0 2vw 0;
                                        h2 {
                                            color: #9f51e7;
                                            font-weight: bold;
                                            font-size: 1.5vw;
                                        }
                                        .btn-cancel {
                                            width: 5%;
                                            background-color: transparent;
                                            .get-in-touch-logo-phone-close-form {
                                                width: 100%;
                                            }
                                        }
                                        
                                    }
                                    .form-popup_line2 {
                                        text-align: left;
                                        font-size: 1vw;
                                        color: gray;
                                        margin: 0 0 1vw 0;
                                    }                                    
                                    .form-popup_line3 {
                                        display: flex;
                                        justify-content: space-between;
                                        margin: 0 0 1vw 0;
                                        .call_back_form-contact-form-name {    
                                            background-color: ghostwhite;
                                            box-shadow: 0 0 1px #000;
                                            font-size: 1vw;
                                            width: 45%;
                                            padding: 3%;
                                            &:focus {
                                                box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
                                            }
                                        }
                                        .call_back_form-contact-form-phone {
                                            background-color: ghostwhite;
                                            box-shadow: 0 0 1px #000;
                                            font-size: 1vw;
                                            width: 45%;
                                            padding: 3%;
                                            &:focus {
                                                box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
                                            }
                                        }
                                    }
                                    .form-popup_line4 {
                                        display: flex;
                                        justify-content: space-between;
                                        height: 25%;
                                        position: relative;
                                        .btn-ask-to-call-back {
                                            font-size: 1vw;
                                            color: honeydew;
                                            background-color: #9f51e7;
                                            width: 45%;
                                            &:hover {
                                                background-color: blueviolet;
                                            }
                                        }
                                        .notice-personal-data {
                                            text-align: left;
                                            font-size: 0.7vw;
                                            width: 45%;
                                            height: 100%;
                                            #fix1 {
                                                width: 0px;
                                                background: #f00;
                                                display: inline-block;
                                                height: 50%;
                                                vertical-align:bottom;
                                            }                                            
                                            #fix2 {
                                                width: 0px;
                                                background: #f00;
                                                display: inline-block;
                                                height: 50%;
                                                vertical-align:top;
                                            }
                                        }
                                        .policy-personal-data {
                                            background-color: transparent;
                                            font-size: 0.7vw;
                                            text-decoration: underline;
                                            font-weight: bold;
                                        }
                                        .policy-personal-data-popup {
                                            display: none;
                                            position: fixed;
                                            bottom: 0;
                                            right: 15px;
                                            border: 3px solid #f1f1f1;
                                            background: rgba(102, 102, 102, 0.5);
                                            width: 100%;
                                            height: 100%;
                                            position: absolute;
                                            top: 0;
                                            left: 0;
                                            z-index: 99999;
                                        }
                                    }
                                }
                            }
                            .get-in-touch-phone {
                                margin: 0 0 0 1vw;
                                font-size: 1.5vw;
                            }
                            .button-get-in-touch-logo-email {
                                background-color: transparent;
                                margin: 0.2vw 0 0 0vw;
                                width: 7%;
                                @include transition(1s, 1s, 1s);
                                &:hover {
                                    border-radius: 30px 30px 30px 30px;
                                    filter: invert(100%);
                                    background-color: green;
                                    mix-blend-mode: hue;
                                    @include transform(2.1, 2.1, 2.1, 2.1);
                                    @include transition(1s, 1s, 1s);
                                }
                                .get-in-touch-logo-email {
                                    vertical-align: middle;
                                    margin: 0vw 0 0 0vw;
                                    position: relative;
                                    width: 100%;
                                }
                            }
                            .get-in-touch-email {
                                margin: 0 0 0 1vw;
                                font-size: 1.5vw;
                            }
                            
                        }
                    }
                    .contact-form {
                        display: block;
                        justify-content: center;
                        width: 25%;
                        .contact-form-h2 {                            
                            font-size: 2.5vw;
                            padding: 0 0 3vw 0;
                            color: cornflowerblue;
                            text-decoration: underline;
                            text-decoration-color: rgba(251, 255, 0, 0.822);
                        }
                        .contact-form-name {
                            background-color: transparent;
                            box-shadow: 0 0 1px #000;
                            margin: 0 0 5% 0;
                            font-size: 1.5vw;
                            width: 100%;
                            padding: 3%;
                            &:focus {
                                box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
                            }
                        }
                        .contact-form-email {
                            background-color: transparent;
                            box-shadow: 0 0 1px #000;
                            margin: 0 0 5% 0;
                            font-size: 1.5vw;
                            width: 100%;
                            padding: 3%;
                            &:focus {
                                box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
                            }
                        }
                        .contact-form-message {
                            background-color: transparent;
                            box-shadow: 0 0 1px #000;
                            margin: 0 0 5% 0;
                            font-size: 1.5vw;
                            width: 100%;
                            padding: 3% 3% 15% 3%;
                            &:focus {
                                box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
                            }
                        }
                        .contact-form-send-button {
                            padding: 5% 0 5% 0;
                            background-color: rgba(0, 153, 255, 0.164);
                            font-size: 1.5vw;
                            width: 70%;
                            box-shadow: 0 0 1px #000;
                            transition: 2s;
                            &:hover {
                                padding: 5% 0 5% 0;
                                color: #ffff00;
                                transition: 0.5s;
                            }
                            &:hover:after {
                                content: ' =>';
                                font-size: 1.5vw;
                                transition: 0.5s;
                            }                                
                            &:active {
                                font-size: 1.6vw;
                                color: white;
                            }                              
                        }
                        .contact-form-name {
                            background-color: transparent;
                            box-shadow: 0 0 1px #000;
                            margin: 0 0 5% 0;
                            font-size: 1.5vw;
                            width: 100%;
                            padding: 3%;
                            &:focus {
                                box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
                            }
                        }
                        .contact-form-email {
                            background-color: transparent;
                            box-shadow: 0 0 1px #000;
                            margin: 0 0 5% 0;
                            font-size: 1.5vw;
                            width: 100%;
                            padding: 3%;
                            &:focus {
                                box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
                            }
                        }
                        .contact-form-message {
                            background-color: transparent;
                            box-shadow: 0 0 1px #000;
                            margin: 0 0 5% 0;
                            font-size: 1.5vw;
                            width: 100%;
                            padding: 3% 3% 15% 3%;
                            &:focus {
                                box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
                            }
                        }
                        .contact-form-send-button {
                            padding: 5% 0 5% 0;
                            background-color: rgba(0, 153, 255, 0.164);
                            font-size: 1.5vw;
                            width: 70%;
                            box-shadow: 0 0 1px #000;
                            transition: 2s;
                            &:hover {
                                padding: 5% 0 5% 0;
                                color: #ffff00;
                                transition: 0.5s;
                            }
                            &:hover:after {
                                content: ' =>';
                                font-size: 1.5vw;
                                transition: 0.5s;
                            }                                
                            &:active {
                                font-size: 1.6vw;
                                color: white;
                            }                              
                        }
                    }
                }
    }    
}





